## EXERCISES

#### Exercise 1

Each line of code below contains an **error**. Fix the error and explain in a comment the reason for the error.

1. Print('Hello world!')
    
    * Name of Error: ***Print***

In [2]:
print('Hello world!') #print function in python must be in all small letters

Hello world!

2. print'Hello world!')

* Name of Error: ***'Hello world!')***

In [ ]:
print('Hello world!') #parenthesis must be in pair

3. print('Hello world!)

* Name of Error: ***('Hello world!)***

In [ ]:
print('Hello world!') #single quotation must be in pair

4. print('Hello world!'')

* Name of Error: ***print('Hello world!'')***

In [ ]:
print('Hello world!') #eradicate the excess one quotation marks at the last part

#### Exercise 2
What is the output of the code below? [PEW]

In [3]:
x = 43
x = x + 1
print(x)

#The output is 44 because x is already initialized at 43. Later on x variable is incrementing by 1.

44

#### Exercise 3
The code below contains an error. Fix the error and explain in a comment the reason for the error.

In [4]:
# the X variable hasn't been declared and initialized
# x = 43
# x = X + 1
# print(x)

x = 43
x = x + 1
print(x)

44

# CHAPTER 2 - Variables, Expressions, and Statements

#### Exercise 1

Write a program that uses input to prompt a user for their name and then welcomes them.
```
Enter your name: Chuck
Hello Chuck
```

[PEW] E2.2

In [1]:
name = str(input("Enter your name: "))
print("Welcome " + name)

Enter your name: Chuck
Welcome Chuck

#### Exercise 2

Write a program to prompt the user for hours and rate per hour to compute gross pay.
```
Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25
```

[PEW] E2.3

In [7]:
hours = int(input("Enter Hours: "))
rate = float(input("Enter Rate: "))
print("Pay: " + str((hours) * rate))

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

#### Exercise 3

Assume that we execute the following assignment statements:
```python
width = 17
height = 12.0
```
For each of the following expressions, write the value of the expression and the type (of the value of the expression).
```python
width//2
width/2.0
height/3
1 + 2 * 5
```

[PEW] E2.4

In [12]:
width = 17
height = 12.0

width//2  #8 <class 'int'>
width/2.0 #8.5 <class 'float'>
height/3  #4.0 <class 'float'>
1 + 2 * 5 #11 <class 'int'>

8 <class 'int'>
8.5 <class 'float'>
4.0 <class 'float'>
11 <class 'int'>

#### Exercise 4

Write a program that uses input to prompt a user for a number and then outputs the square of the number
```
Enter a number: 3
The square of 3 is 9
```

In [18]:
number = int(input("Enter a number: "))
print("The square of ", number," is ",number**2)

Enter a number: 3
The square of  3  is  9

## CHALLENGE

Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

[PEW] E2.5

In [1]:
celsius = int(input("Enter temperature in celsius: "))
fahrenheit = ((celsius * 9) / 5) + 32
print("Celsius to Fahrenheit:", fahrenheit)

Enter temperature in celsius: 32
Celsius to Fahrenheit: 89.6

# CHAPTER 3 - Conditional Execution

#### Exercise 1

In the code below, which will never print regardless of the value for x? Edit the code to correct the error.

```python
if x > 0 :
    print('Above 0')
elif x >  10 :
    print('Above 10')
elif x > 50 :
    print('Above 50')
elif x >  20 :
    print('Above 20')
else :
    print('Something else')
```

In [3]:
x = int(input("Enter value for x: "))
if x > 0 and x <= 10:
    print('Above 0')
elif x >  10 and x <= 20 :
    print('Above 20')
elif x > 20 and x <= 50:
    print('Above 20')
elif x > 50:
    print('Above 50')
else :
    print('Something else')

Enter value for x: 23
Above 20

#### Exercise 2

Write your salary computation to give an employee 1.5 times the hourly rate for hours worked above 40 hours. Example:

    Enter Hours: 45
    Enter Rate: 10
    Pay: 475.0
    
[PEW] E3.2

In [15]:
hours = int(input("Enter Hours:"))
rate = int(input("Enter Rate: "))

if hours > 40:
  time = (hours - 40)
  pay = ((rate * time)*1.5) + ((rate*(hours - time)))

print("Pay: ", pay)

Enter Hours:45
Enter Rate: 10
Pay:  475.0

## CHALLENGE

Write a program to prompt for a score between 0 and 100 and print a grade using the following table:

    Score           Grade
    [ 97, 100]      1.0
    [ 93,  97)		1.25
    [ 89,  93)		1.5
    [ 85,  89)		1.75
    [ 81,  85)		2.0
    [ 77,  81)		2.25
    [ 74,  77)		2.5
    [ 0,   74)		3.0

Adapted from [PEW] E3.3
<br>

In [18]:
score = int(input("Enter your score: "))

if score >= 97 and score <= 100:
  print("Grade: 1.0 ")
elif score >= 93 and score < 97:
  print("Grade: 1.25 ")
elif score >= 89 and score < 93:
  print("Grade: 1.5 ")
elif score >= 85 and score < 89:
  print("Grade: 1.75 ")
elif score >= 81 and score < 85:
  print("Grade: 2.0 ")
elif score >= 77 and score < 81:
  print("Grade: 2.25 ")
elif score >= 74 and score < 77:
  print("Grade: 2.5 ")
elif score >= 0 and score < 74:
  print("Grade: 3.0 ")
else:
  print("Failure!")

Enter your score: 74
Grade: 2.5

# CHAPTER 4 - Functions

## EXERCISES

#### Exercise 1

Rewrite your pay computation with time-and-a-half for overtime and create a function called compute pay which takes two parameters (hours and rate).

    Enter Hours: 45
    Enter Rate: 10
    Pay: 475.0
    
[PEW] E4.6

In [30]:
hours = int(input("Enter Hours:"))
rate = int(input("Enter Rate: "))

def compute_pay(hours, rate):
  pay = int()
  if hours <= 40:
    pay = rate*hours
    return float(pay)
  elif hours > 40:
    time = (hours - 40)
    pay = ((rate * time)*1.5) + ((rate*(hours - time)))
    return float (pay)
print("Pay: ", compute_pay(hours, rate))

Enter Hours:39
Enter Rate: 10
Pay:  390.0

##CHALLENGE

Write a function called computegrade that takes a score as its parameter and returns a grade as a string using the following table:

    Score           Grade
    [ 97, 100]      1.0
    [ 93,  97)		1.25
    [ 89,  93)		1.5
    [ 85,  89)		1.75
    [ 81,  85)		2.0
    [ 77,  81)		2.25
    [ 74,  77)		2.5
    [ 0,   74)		3.0

    Run the program repeatedly to test the various different values for input.
    
Adapted from [PEW] E4.6
<br>

In [34]:
score = int(input("Enter your score: "))

def computegrade(score):
  if score >= 97 and score <= 100:
    print("Grade: 1.0 ")
  elif score >= 93 and score < 97:
    print("Grade: 1.25 ")
  elif score >= 89 and score < 93:
    print("Grade: 1.5 ")
  elif score >= 85 and score < 89:
    print("Grade: 1.75 ")
  elif score >= 81 and score < 85:
    print("Grade: 2.0 ")
  elif score >= 77 and score < 81:
    print("Grade: 2.25 ")
  elif score >= 74 and score < 77:
    print("Grade: 2.5 ")
  elif score >= 0 and score < 74:
    print("Grade: 3.0 ")
  else:
    print("Failure!")
while score != -1:
  computegrade(score)
  score = int(input("Enter your score: "))

Enter your score: 39
Grade: 3.0
Enter your score: 10
Grade: 3.0
Enter your score: 0

##EXERCISES

Investigate on the difference between `is` and `==` given the following variables.
```python
a = 2
b = 2.0
c = a

In [35]:
a = 2
b = 2.0
c = a

# is: This operator determines whether two variables point to the same memory object.
# ==: This operator verifies that the values are equal.


print(a is c)  # True, because they refer to the same object in memory.
print(a == c)  # True, because their values are equal.
print(a is b)  # False, because they are different objects in memory.
print(a == b)  # True, because their values are equal.
# In summary:

# is compares whether two variables refer to the same object in memory.
# == compares whether the values of two variables are equal.

True
True
False
True

Write a program which repeatedly reads numbers until the user enters "done". Once "done" is entered, print out the total, count, and average of the numbers. If the user enters anything other than a number, detect their mistake using try and except and print an error message and skip to the next number.

    Enter a number: 4
    Enter a number: 5
    Enter a number: bad data
    Invalid input
    Enter a number: 7
    Enter a number: done
    16 3 5.333333333333333
    
[PEW] E5.1

In [37]:
total = 0
count = 0

while True:
    try:
        User = input("Enter a number: ")
        if User.lower() == "done":
            break
        number = float(User)
        total += number
        count += 1
    except ValueError:
        print("Invalid input")

if count > 0:
    average = total / count
    print(int(total), count, average)
else:
    print("Invalid Number")

Enter a number: 1
Enter a number: 2
Enter a number: done
3 2 1.5